<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <!--Settings Generales-->
    <add key="GeneralCulture" value="en-US" />
    <!--Settings Log-->
    <add key="FileLogPath" value="C:\temp\NotificationService\Log\" />
    <add key="FileLogName" value="LogTest{0}.log" />
    <add key="FileLogFormatDate" value="yyyyMMdd" />
    <add key="EventLogName" value="ADX365" />
    <add key="EventLogSource" value="NotificationSystem" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="adxQueue" value=".\private$\adx.notifications" />
  </appSettings>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://ADX.Domain/Model.ADX.csdl|res://ADX.Domain/Model.ADX.ssdl|res://ADX.Domain/Model.ADX.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=adx365sqlserver.database.windows.net;initial catalog=adx365-dev;persist security info=True;user id=admindba;password=ADxcH%1234;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\temp\NotificationService\app_test_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="DateTime, Timestamp, ProcessId, ThreadId">
        <filter type="" />
      </add>
      <add initializeData="C:\temp\NotificationService\app_test_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="DateTime, Timestamp, ProcessId, ThreadId">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="ADX.NotificationSystemService.NotificationWebService">
        <endpoint address="" binding="basicHttpBinding" contract="ADX.NotificationSystemService.INotificationWebService">
        </endpoint>
        <endpoint address="" binding="netTcpBinding" contract="ADX.NotificationSystemService.INotificationWebService" bindingConfiguration="CoreService_netTcpBinding"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" bindingConfiguration="CoreServiceMex_netTcpBinding" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:5020/NotificationWebService/" />
            <add baseAddress="http://localhost:5021/NotificationWebService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <mexTcpBinding>
        <binding name="CoreServiceMex_netTcpBinding"
                 closeTimeout="00:30:00"
                 openTimeout="00:30:00"
                 receiveTimeout="00:30:00"
                 sendTimeout="00:30:00" />
      </mexTcpBinding>
      <netTcpBinding>
        <binding name="CoreService_netTcpBinding"
                 maxReceivedMessageSize="2147483647"
                 closeTimeout="00:30:00"
                 openTimeout="00:30:00"
                 receiveTimeout="00:30:00"
                 sendTimeout="00:30:00">
          <security mode="None">
            <transport clientCredentialType ="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>